<!DOCTYPE html>
<html lang="en">
<head>
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>မဲပေးကြစို့</title>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <!-- Nav -->
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">မဲပေးကြစို့</a>
      <a href="index.html" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">မဲဆန္ဒရှင်များ</a></li>
        <li><a href="#">မဲဆန္ဒနယ်</a></li>
        <li><a href="#">ပါတီများ</a></li>
      </ul>



      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">မဲဆန္ဒရှင်များ</a></li>
        <li><a href="#">မဲဆန္ဒနယ်</a></li>
        <li><a href="#">ပါတီများ</a></li>
        <li><a href="#">ရွေးကောက်ပွဲဆိုင်ရာ ဥပဒေများ</a></li>
        <li><a href="#">မေးလေ့မေးထရှိသောမေးခွန်းများ</a></li>
      </ul>
    </div>
  </nav>


  <div class="row center">
        <h5 class="header col s12 light">အထွေထွေရွေးကောက်ပွဲအတွက် လူမေးများသော မေးခွန်းများ</h5>
  </div>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>CivicEducation</div>
      <div class="collapsible-body">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li  ng-repeat="x in names">
            {{ x.question }}
          </li>
        </ul>
      </div>
    </li>
    <li ng-repeat="x in question">
      <div class="collapsible-header"><i class="material-icons">question_answer</i> {{ x.question }} </div>
      <div class="collapsible-body"><p> {{ x.answer }} </p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>HowToVote</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>VoteList</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>ElectoralDisputes</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>









  <script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("http://api.maepaysoh.org/faq/list?token=c7e05e52-36b3-586c-abb2-113b3034a3aa")
  .success(function (response) {$scope.names = response.data;});
});
</script>


  
  <footer class="page-footer light-blue hide-on-med-and-down">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">မဲပေးကြစို့</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><a href="#" class="white-text">ရွေးကောက်ပွဲဆိုင်ရာ ဥပဒေများ</a></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><a href="#" class="white-text">မေးလေ့မေးထရှိသောမေးခွန်းများ</a></h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Powered by <a class="light-blue-text text-lighten-3" href="#">Indivisual</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>